<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{site.title}}</title>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.logo %}
          <a href="{{site.baseurl}}/index"><img width="200" src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}

        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->

        <h3>{{ site.description | default: site.github.project_tagline }}</h3>
        <h4>June 23–25, 2025 &mdash; Columbus, Ohio</h4>
        <h4>Venue: <a href="https://tdai.osu.edu/about-tdai/pomerene-hall-history">Pomerene Hall</h4>

        <!-- {% for page in site.pages %}
            <a href={{ page.filename }}>{{ page.title }}</a>
        {% endfor %} -->

        <nav>
            <ul class="nav">
                <li><a href="{{site.baseurl}}/index">Home</a></li>
                <ul class="nav">
                  <li><a href="{{site.baseurl}}/committee">Organization Committee</a></li>
	          <li><a href="{{site.baseurl}}/fullpaperscommittee">Full Papers Program Committee
</a></li>
		  <li><a href="{{site.baseurl}}/shortpaperscommittee">Short and Demo Papers Program Committee
</a></li>
</a></li>
                </ul>
                
                <li>Contribute</li>
                <ul class="nav">
                  <li><a href="{{site.baseurl}}/callpaper">Call for Papers</a></li>
                 <li><a href="{{site.baseurl}}/callshortpaper">Call for Short and Demo Papers</a></li>
                 <li><a href="{{site.baseurl}}/callposter">Call for Posters</a></li>
                <li><a href="{{site.baseurl}}/sponsors">Call for Sponsors</a></li>
                </ul>
                 <li><a href="{{site.baseurl}}/program">Program</a></li>
                <ul class="nav">
                  <li><a href="{{site.baseurl}}/program">Overview</a></li>
                  <li><a href="{{site.baseurl}}/keynotes">Keynotes</a></li>
                 <!--  <li><a href="{{site.baseurl}}/events">Social Events</a></li> -->
		              <li><a href="{{site.baseurl}}/accepted-papers">Accepted Papers</a></li>
		 <!--             <li><a href="{{site.baseurl}}/awards">Awards</a></li> -->
                </ul>
                <li>Attend</li>
                <ul class="nav">
 <!--                 <li><a href="{{site.baseurl}}/authors">Instructions for Authors</a></li>
                 <li><a href="{{site.baseurl}}/videos">Video Submission Instructions</a></li>-->
                 <li><a href="{{site.baseurl}}/camera_ready">Camera Ready Instructions</a></li>
                 <li><a href="{{site.baseurl}}/register">Registration</a></li>
                 <li><a href="{{site.baseurl}}/visa">Travel & Visa Information</a></li>
                 <li><a href="{{site.baseurl}}/venue">Conference Venue</a></li>
                 <li><a href="{{site.baseurl}}/accommodation">Accommodation</a></li>
                </ul>
            </ul>
        </nav>


        <h3 class="nav">Important Dates</h3>
            <p><b>Paper submission deadline (Main Track)</b>: Mar 2nd, 2025 AOE</p>
            <p><b>Paper submission deadline (Short and Demo papers)</b>: Mar 11th, 2025 AOE</p>
            <p><b>Paper submission deadline (Posters)</b>: Mar 31st, 2025</p>
            <p><b>Notification for acceptance (Papers)</b>: Apr 4th, 2025</p>
            <p><b>Notification for acceptance (Short and Demo papers)</b>: Apr 14th, 2025</p>
            <p><b>Notification for acceptance (Posters)</b>: Apr 14th, 2025</p>
            <b>Camera-Ready Deadline</b>: May 5th, 2025</p>
            <p><b>Author Registration Deadline</b>: TBD, 2025</p>

            <h3 class="nav">Supporters</h3>
            <!-- <p><a href="https://www.inria.fr/en"><img src="assets/images/inr_logo_rouge.png" alt="Inria" width="150" height="48" border="0"></a></p> -->
            <footer>
          <p><br/>
          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
      </header>


      <section>

      {{ content }}

      </section>

  </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
